<td class="player-lastupdated">
    <span class="name">{{ name }}</span><br />
    <span class="lastupdated">{{ stat.lastUpdated |date('Y-m-d') }}</span>
</td>

<td class="td-centre">{% include 'index/stat-cell.html.twig' with {
        'class': 'spm',
        'stat': stat.scorePerMinute | round,
        'unit': ''
    } %}
</td>
<td class="td-centre">{% include 'index/stat-cell.html.twig' with { 'class': 'kdr', 'stat': stat.kdr            | round(3), 'unit': 'm' } %}</td>
<td class="td-centre">{% include 'index/stat-cell.html.twig' with { 'class': 'kpm', 'stat': stat.killsPerMin    | round(3), 'unit': '' } %}</td>
<td class="td-centre">{% include 'index/stat-cell.html.twig' with { 'class': 'wlp', 'stat': stat.winLossPercent | round(3), 'unit': '%' } %}</td>
<td class="td-centre">{% include 'index/stat-cell.html.twig' with { 'class': 'acc', 'stat': stat.accuracy       | round(3), 'unit': '' } %}</td>
<td class="td-centre">{% include 'index/stat-cell.html.twig' with { 'class': 'lhs', 'stat': stat.longestHeadshot,           'unit': 'm' } %}</td>

{% set played = stat.timePlayed | playedTime %}

<td class="td-centre">{% include 'index/stat-cell.html.twig' with { 'class': 'timeplayed', 'stat': played,          'unit': '' } %}</td>
<td class="td-centre">{% include 'index/stat-cell.html.twig' with { 'class': 'rank',       'stat': stat.playerRank,       'unit': '' } %}</td>
<td class="td-centre">{% include 'index/stat-cell.html.twig' with { 'class': 'killstreak', 'stat': stat.killStreak, 'unit': '' } %}</td>

<td class="topclassWep">
    <span class="topclass">{{ stat.topClass|capitalize }}</span><br />
    <span class="topWep">{{ stat.topWeapon | weaponName }}</span>
    (<span class="topWepKills" data-val="{{ stat.topWeaponKills }}">{{ stat.topWeaponKills }} kills</span>)
</td>
